@import url('https://fonts.googleapis.com/css?family=Montserrat');


.rise-enabled {
    background-color: #fff;
}

div.cover {
    background-color: #f90035;
    height: 800px;
    width: 100%;
    padding: 100px;
}

div.cover h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

div.cover h2 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
}

div.divider {
    background-color: #513147;
    height: 800px;
    width: 100%;
    padding: 100px;
    display:table;
    text-align:left;
}

div.divider h1 {
    color: #fff;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    vertical-align:middle;
    display:table-cell;
}

div.source {
    font-size: 12px;
    vertical-align:right;
}